<form action="/create">
    <input type="text" name="name" placeholder="Recipe Name">
    <input type="text" name="category" placeholder="Category">
    <input type="text" name="image" placeholder="Image">
    <input type="text" name="prep_time" placeholder="Prep time">
    <input type="text" name="cook_time" placeholder="Cook time">
    <input type="text" name="yield" placeholder="Yield">
    <input type="text" name="ingredients" placeholder="Ingredients">
    <input type="text" name="method" placeholder="Method">
    <input type="submit" value="Save">
</form>